@font-face {
    font-family: Overpass;
    src: url('https://ason0008.github.io/FIT3179/Overpass-Regular.ttf');
}

body {
    background-color: #fffbf5;
}

.main-title {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    font-family: Overpass;
    font-size: 32px;
    font-weight: bold;
}

.map-grid, .waterfall-grid, .heatmap-grid, .pyramid-grid {
    margin-left: 40px;
    text-align: center;
}

.map-grid {
    margin-top: -50px;
}

.waterfall-grid {
    margin-top: -30px;
}

.map-title, .waterfall-title, .heatmap-title, .pyramid-title {
    height: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Overpass;
    font-size: 22px;
    font-weight: bold;
}

.map-summary, .waterfall-summary {
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
    font-family: Overpass;
    font-size: 14px;
}

.heatmap-summary {
    margin-top: 32px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
    font-family: Overpass;
    font-size: 14px;
}

.connector, .conclusion {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
    text-align: left;
    font-family: Overpass;
    font-size: 14px;
}

.introductionA {
    font-family: Overpass;
    font-size: 14px;
    text-align: center;
}

.introductionB {
    margin-bottom: 35px;
    font-family: Overpass;
    font-size: 14px;
    text-align: center;
}

.filter-map-caption {
    position: absolute;
    margin-top: -405px;
    margin-left: 336px;
    font-family: Overpass;
    font-size: 13px;
    color: #2a61b5;
}

.vega-bind-name {
    margin-right: 10px;
    font-family: Overpass;
    font-size: 12px;
}

.waterfall-caption {
    position: absolute;
    margin-top: -200px;
    margin-left: 800px;
    font-family: Overpass;
}

.heatmap-grid {
    margin-left: 65px;
}

.filter-heatmap-caption {
    position: absolute;
    margin-top: -545px;
    margin-left: 650px;
    font-family: Overpass;
    font-size: 12px;
    color: #2a61b5;
}

.donut-caption {
    position: absolute;
    width: 370px;
    margin-top: -340px;
    margin-left: 155px;
    font-family: Overpass;
    font-size: 14px;
}

.gender-caption {
    position: absolute;
    width: 370px;
    margin-top: -130px;
    margin-left: 155px;
    font-family: Overpass;
    font-size: 14px;
}

.authorship {
    margin-bottom: 5px;
    font-family: Overpass;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.source {
    margin-bottom: 20px;
    font-family: Overpass;
    font-size: 12px;
    text-align: center;
}